html,body{
    height: 100vh;
}

img{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-flow: column nowrap;

    .gameContainer{
        flex: 1;

        .row{
            display: flex;
            justify-content: space-evenly;
            height: 100px;
            margin: 20px 0;

            .card{
                width: 200px;
                background-color: red;
                border: 1px solid black;
                perspective:1000px;

                .inner{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    transform-style: preserve-3d; /* Keeps both sides visible in 3D */
                    transition: transform 0.6s; /* Smooth flip effect */
                    /* transform: rotateY(80deg); Flips the card */

                    .front,.back{
                        position:absolute;
                        width:200px;
                        backface-visibility:hidden;
                        border:1px solid black
                    }

                    .front{

                    }

                    .back{
                        transform: rotateY(180deg); /* Makes the back initially invisible */
                    }
                }
            }
        }

    }

    footer{
        padding: 3px;
        background-color: aqua;
        text-align: center;
    }
}